//DEV
.dev {
    position: fixed;
    color: #fff;
    text-align: center;
    z-index: 99999;
    background-color: rgba(43, 43, 43, 0.56);
    padding: 20px 20px;
    bottom: 20px;
    left: 20px;
}
