.container{
  background-image: url('../img/box_bg.jpg');
  height: 564px;
  text-align: center;
  position: relative;
  box-shadow: 0px 20px 40px rgba($basic-color1, 0.45);
  color: $basic-color2;

  &__push-down{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 534px;
  }
}
