.wrapper{
  margin: 0 auto;
  padding: 0px 20px;
  min-width: 450px;
}


.row{
  white-space: nowrap;

  &__col{
    font-size: 0;
    display: inline-block;
    white-space: normal;

    &__w4{
      font-size: 13px;
      width: 25%;
    }
  }

}


// =====================================================
//    MEDIA QUERIES
// =====================================================

// 1020px + 20px error scale
@media(min-width: 1040px) {
  .wrapper{
    width: 1020px;
  }
}
