.wrapper{
  margin: 0 auto;
  padding: 0px 20px;
  min-width: 450px;
}


// =====================================================
//    MEDIA QUERIES
// =====================================================

// 1020px + 20px error scale
@media(min-width: 1040px) {
  .wrapper{
    width: 1020px;
  }
}
