// =====================================================
//    COLORS
// =====================================================

$text-color: #121216;
$link-color: #fff;

$basic-color1: #121216;
$basic-color2: #fff;
$basic-color3: #b2b2b2;



// =====================================================
//    Fonts
// =====================================================

$font1: 'Lato', sans-serif;
$font2: 'Titillium Web', sans-serif;



// =====================================================
//    Fonts Weight
// =====================================================

$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$ultra-bold: 900;
